ion-content ion-toolbar {
  --background: translucent;
}

.video-cafe{
  width: 100%;
  height: 80%;
}

.vid-image{
  width: 100%;
  height: 100%;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}